<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <th:block th:replace="~{layout/layout1::setContent(~{this::content})}">
      <th:block th:fragment="content">
         <h1>2023 웹프로그래밍2 중간고사</h1><br>
         <h2>실기시험 시작 페이지</h2><br>
         <a href="/exam1">문제1 결과 보기 (O)</a><br>
         <a href="/exam2">문제2 결과 보기 (O)</a><br>
         <a href="#">문제3 결과 보기 (O)</a><br>
         <a href="#">문제4 결과 보기 (O)</a><br>
         <a href="#">문제5 결과 보기 (O)</a><br>
      </th:block>
   </th:block>
</body>
</html>